/* ABOUT US CSS */

h2.sectionHead {
    margin-top: 168px;
}

#aboutText {
    margin-top: 60px;
}

#angelica, #owain {
    margin-top: 208px;
}

.bold {
    font-weight: 600;
    margin-top: -10px;
}

.aboutHr {
    margin: 10px 0 25px 0;
}

.aboutIcons {
    margin-bottom: 25px;
}

.aboutIcons > i {
    padding-right: 30px;
    color: #0f2228;
}




