/* MAIN PAGE CSS*/





.landing {
    background-color: #0f2228;
    height: 100vh;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    overflow: hidden;
}



#navbar > i {
    float: right;
    color: #f1f1f2;
}

#mainTitle {
    margin-top: 35%;
    margin-bottom: 0;
}

#encodeHeader, #revealHeader, #findHeader, #commHeader {
    margin-top: 25%;
    margin-left: 15%;
    margin-bottom: 18px;
    opacity: 0;
}

#encodeText, #revealText, #findText, #commText {
    margin-left: 15%;
}

.nextSkip {
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    
}

.nextSkip > h6, .nextSkip > span {
    display: inline-block;
    cursor: pointer;
}

.nextSkip > span {
    border: 2px solid #fff;
    border-radius: 35px;
    padding: 15px;
    margin: 0 15px;
}

.glyphicon-chevron-down {
    opacity: 0.75;
}

.glyphicon-remove {
    opacity: 0.3;
}

.glyphicon-chevron-down:hover, .glyphicon-remove:hover {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in-out;
    transition: 0.5s opacity ease-in-out;
}


h2.sectionHead {
    margin-top: 120px;
}

#serviceCats > h4 {
    padding: 10px;
}

.process {
    text-align: center;
    z-index: 950;
    position: relative;
}

.sub { 
    color: #434343;
    margin: -10px 0 18px 0;    
}

#research, #concept, #delivery {
    padding-left: 55%;
    text-align: left;
    padding-top: 40px;
}

#concept, #delivery {
    padding-left: 55%;
    text-align: left;
    padding-top: 48px;
}

#data, #development {
    padding-right: 55%;
    text-align: right;
    padding-top: 48px;
}

/*process HEAD, SUB and TEXT normal state*/
#research > h3, #research > h5, #research > p, #concept > h3, #concept > h5, #concept > p, #data > h3, #data > h5, #data > p, #delivery > h3, #delivery > h5, #delivery > p, #development > h3, #development > h5, #development > p {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
} 

/*process HEAD and SUB head RIGHT side animate*/
#research > h3.draw, #research > h5.draw, #research > p.draw, #concept > h3.draw, #concept > h5.draw, #concept > p.draw, #delivery > h3.draw, #delivery > h5.draw, #delivery > p.draw {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
} 

/*process HEAD and SUB head LEFT side animate*/
#data > h3.draw, #data > h5.draw, #development > h3.draw, #development > h5.draw {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/*process TEXT head RIGHT side animate*/
#research > p.draw, #concept > p.draw, #delivery > p.draw {
    opacity: 1;
    -webkit-transition: opacity 0.5s 0.5s;
    transition: opacity 0.5s 0.5s;
} 

/*process TEXT head LEFT side animate*/
#data > p.draw, #development > p.draw {
    opacity: 1;
    -webkit-transition: opacity 0.5s 0.5s;
    transition: opacity 0.5s 0.5s;
}


svg.processSvg {
    z-index: 1;
    position: absolute;
    width: 1140px;
    height: 1700px;
}

#lineOne {
    stroke-dasharray: 270 270;
    stroke-dashoffset: 270;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

#lineTwo, #lineFour {
    stroke-dasharray: 300 300;
    stroke-dashoffset: 300;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

#lineThree {
    stroke-dasharray: 303 303;
    stroke-dashoffset: 303;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}



#lineOne.draw, #lineTwo.draw, #lineThree.draw, #lineFour.draw {
    stroke-dashoffset: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

#circleOne, #circleTwo, #circleThree, #circleFour, #circleFive {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#circleOne.draw, #circleTwo.draw, #circleThree.draw, #circleFour.draw, #circleFive.draw {
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* Tablet Media Rules */

@media (min-width: 992px) and (max-width: 1200px) {
    svg.processSvg {
        width: 952px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    svg.processSvg {
        width: 720px;
    }
}

@media (max-width: 768px) {
    svg.processSvg {
        width: 200px;
    }
    #research, #data, #concept, #development, #delivery {
        padding-left: 200px;
        text-align: left;
        padding-top: 45px;
        padding-right: 12px;
    }
    #research h3.draw, #data h3.draw, #concept h3.draw, #development h3.draw, #delivery h3.draw {
        font-size: 24px;
    }
    #research h5.draw, #data h5.draw, #concept h5.draw, #development h5.draw, #delivery h5.draw {
        font-size: 16px;
    }
    #research p.draw, #data p.draw, #concept p.draw, #development p.draw, #delivery p.draw {
        font-size: 14px;
    }
}


/* INTROVIZ STYLING */

.link {
    stroke: #beb89b;
    stroke-opacity: .6;
}
