#navBox {
    width: 0px;  
    position: absolute;    
    background-color: #0f2228;
    right: 0;
    top: 0;
    height: 100%;
    -webkit-transition: width 0.8s;
    transition: width 0.8s;
}

#navBox.active {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: block;
    width: 400px;
    -webkit-transition: width 0.8s;
    transition: width 0.8s;
}

#navList {
    opacity: 0;
    margin-top: 150px;
}

#navList.active {
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.8s;
    transition: opacity 0.3s 0.8s;
}

#navList.active > li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: -5px;
}

#navList.active > li > a {
    font-family: "Lato", "Helvetica", sans-serif;
    font-size: 32px;
    color: #f1f1f2;
    opacity: 0.55;
    font-weight: 900;
    padding: 0px 20px;
}

#navList.active > li > a.hover {
    opacity: 1;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

#navList.active > li > a.active {
    font-size: 14px;
    opacity: 1;
}

#navList.active > span.subtext {
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #f1f1f2;
    margin: 0 20px 0 0;
    opacity: 0;
}

#navList.active > span.subtext.hover {
    opacity: 1;
}

#hrNav {
    border-top: 2px solid #C1C6C7;
    margin: 10px 20px 25px 0;
}








#hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 999;
}

#hamburger .line {
    position: absolute;
    width: 28px;
    right: 0;
    height: 2px;
    background-color: #000;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.line.top { 
    top: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #000;
    -webkit-transition: -webkit-transform 0.5s, top 0.5s 0.5s, background-color 0.5s;
    -webkit-transition: top 0.5s 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: top 0.5s 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.5s 0.5s, background-color 0.5s;
    transition: transform 0.5s, top 0.5s 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}

.line.middle { 
    top: 10px;
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.line.bottom { 
    top: 20px; 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
    background-color: #000;
    -webkit-transition: -webkit-transform 0.5s, top 0.5s 0.5s, background-color 0.5s;
    -webkit-transition: top 0.5s 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: top 0.5s 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.5s 0.5s, background-color 0.5s;
    transition: transform 0.5s, top 0.5s 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}



#hamburger .line.top.active {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    -webkit-transition: top 0.5s, -webkit-transform 0.5s 0.5s, background-color 0.5s;
    -webkit-transition: top 0.5s, background-color 0.5s, -webkit-transform 0.5s 0.5s;
    transition: top 0.5s, background-color 0.5s, -webkit-transform 0.5s 0.5s;
    transition: top 0.5s, transform 0.5s 0.5s, background-color 0.5s;
    transition: top 0.5s, transform 0.5s 0.5s, background-color 0.5s, -webkit-transform 0.5s 0.5s;
}

#hamburger .line.middle.active {
    opacity: 0;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

#hamburger .line.bottom.active {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #fff;
    -webkit-transition: top 0.5s, -webkit-transform 0.5s 0.5s, background-color 0.5s;
    -webkit-transition: top 0.5s, background-color 0.5s, -webkit-transform 0.5s 0.5s;
    transition: top 0.5s, background-color 0.5s, -webkit-transform 0.5s 0.5s;
    transition: top 0.5s, transform 0.5s 0.5s, background-color 0.5s;
    transition: top 0.5s, transform 0.5s 0.5s, background-color 0.5s, -webkit-transform 0.5s 0.5s;
}
